Repository phpbhaiya/fazri-analyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:validate, backend:build, backend:deploy, frontend:build, frontend:deploy

Path conditions:
  backend:validate: any of: backend/**/*, backend/*
  backend:build: any of: backend/**/*, backend/*
  backend:deploy: any of: backend/**/*, backend/*
  frontend:build: any of: *.json, *.js, *.ts, *.mjs, *.cjs, *.lock, *.config.*, .env*, .eslint*, .prettier*, Dockerfile*, next.config.*, tailwind.config.*, tsconfig.*, postcss.config.*, src/**/*, app/**/*, pages/**/*, components/**/*, lib/**/*, public/**/*, styles/**/*, hooks/**/*, utils/**/*, types/**/*, contexts/**/*, services/**/*, store/**/*, assets/**/*, config/**/*, middleware/**/*, prisma/**/*, scripts/**/*, __tests__/**/*, tests/**/*, e2e/**/*, cypress/**/*, .github/**/*, .husky/**/*, node_modules/**/*
  frontend:deploy: any of: *.json, *.js, *.ts, *.mjs, *.cjs, *.lock, *.config.*, .env*, Dockerfile*, next.config.*, tailwind.config.*, tsconfig.*, postcss.config.*, src/**/*, app/**/*, pages/**/*, components/**/*, lib/**/*, public/**/*, styles/**/*, hooks/**/*, utils/**/*, types/**/*, contexts/**/*, services/**/*, store/**/*, assets/**/*, config/**/*, prisma/**/*

Edit .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Edit docker-compose.yml
  backend/docker-compose.yml
Due: backend:validate, backend:build, backend:deploy

Edit docker-compose.api.yml
  backend/docker-compose.api.yml
Due: backend:validate, backend:build, backend:deploy

Update file docker-compose.api.yml
  backend/docker-compose.api.yml
Due: backend:validate, backend:build, backend:deploy

Edit docker-compose.prod.yml
  backend/docker-compose.prod.yml
Due: backend:validate, backend:build, backend:deploy

thoda sa changes
  README.md
Due: none

minor build changes on exposing ports
  .gitlab-ci.yml
  backend/docker-compose.api.yml
Due: backend:validate, backend:build, backend:deploy

change the docker network to backend_fazri-network
  .gitlab-ci.yml
  backend/docker-compose.api.yml
Due: backend:validate, backend:build, backend:deploy

db mei maine kara harkate
  backend/docker-compose.api.yml
Due: backend:validate, backend:build, backend:deploy

Edit auth.ts
  src/auth.ts
Due: frontend:build, frontend:deploy

Edit landing-page.tsx
  src/components/landing-page.tsx
Due: frontend:build, frontend:deploy

should fix it
  .gitlab-ci.yml
  src/components/landing-page.tsx
Due: frontend:build, frontend:deploy

rookie mistakes
  deploy-to-ec2.sh
Due: none

skipped
  src/components/landing-page.tsx
Due: frontend:build, frontend:deploy

fix explicitly
  src/components/entities-tanstack-table.tsx
Due: frontend:build, frontend:deploy

aakri umeed
  src/components/entities-tanstack-table.tsx
Due: frontend:build, frontend:deploy

back to square one
  src/components/entities-tanstack-table.tsx
Due: frontend:build, frontend:deploy

Update config.py
  backend/config.py
Due: backend:validate, backend:build, backend:deploy

minor changes
  backend/config.py
  src/components/landing-page.tsx
Due: backend:validate, backend:build, backend:deploy, frontend:build, frontend:deploy

galti sudhaarte hue 🙄
  src/app/dashboard/zones/[zoneId]/page.tsx
Due: frontend:build, frontend:deploy

minor fixes 😒
  src/app/dashboard/zones/page.tsx
Due: frontend:build, frontend:deploy

sidebar fix 😒
  src/components/sidebar-layout.tsx
Due: frontend:build, frontend:deploy

Refactor zones page to use separate client component
  src/app/dashboard/zones/page.tsx
  src/app/dashboard/zones/zones.tsx
  src/components/sidebar-layout.tsx
Due: frontend:build, frontend:deploy

changed dataset for card swipes
  backend/augmented/campus_card_swipes_augmented.csv
Due: backend:validate, backend:build, backend:deploy

cahnged gitignoreuuuu
  .gitignore
Due: none

Add tool definitions for Gemini function calling in chatbot service
  AI-chatbot.md
  backend/chat_routes.py
  backend/config.py
  backend/docker-compose.yml
  backend/gcp-credentials.json
  backend/main.py
  backend/requirements.txt
  backend/scripts/ingest_real_data.py
  backend/services/anomaly_detection.py
  backend/services/chatbot/__init__.py
  backend/services/chatbot/orchestrator.py
  backend/services/chatbot/prompts.py
  backend/services/chatbot/tool_executor.py
  backend/services/chatbot/tools.py
  backend/services/entity_anomaly_detection.py
Due: backend:validate, backend:build, backend:deploy

nashedi saala
  .gitlab-ci.yml
  backend/docker-compose.api.yml
Due: backend:validate, backend:build, backend:deploy

feat: Implement Notification Service and Staff Service for alert management
  ALERTS.md
  ALERTS_FRONTEND_PLAN.md
  backend/alerts-guide.md
  backend/config.py
  backend/database/__init__.py
  backend/database/connection.py
  backend/database/init_alerts.py
  backend/main.py
  backend/requirements.txt
  backend/routes/__init__.py
  backend/routes/alert_routes.py
  backend/routes/demo_routes.py
  backend/routes/notification_routes.py
  backend/routes/staff_routes.py
  backend/services/alerts/__init__.py
  backend/services/alerts/alert_service.py
  backend/services/alerts/assignment_engine.py
  backend/services/alerts/audit_service.py
  backend/services/alerts/demo_service.py
  backend/services/alerts/notification_service.py
  backend/services/alerts/staff_service.py
Due: backend:validate, backend:build, backend:deploy

feat: implement alert management components including filters, history timeline, and escalation dialogs
  package.json
  pnpm-lock.yaml
  src/app/dashboard/alerts/[alertId]/alert-detail-page.tsx
  src/app/dashboard/alerts/[alertId]/page.tsx
  src/app/dashboard/alerts/alerts-page.tsx
  src/app/dashboard/alerts/page.tsx
  src/components/alert-notification-listener.tsx
  src/components/alerts/alert-actions.tsx
  src/components/alerts/alert-card.tsx
  src/components/alerts/alert-detail.tsx
  src/components/alerts/alert-filters.tsx
  src/components/alerts/alert-history-timeline.tsx
  src/components/alerts/alert-list.tsx
  src/components/alerts/escalate-alert-dialog.tsx
  src/components/alerts/index.ts
  src/components/alerts/recent-alerts-card.tsx
  src/components/alerts/resolve-alert-dialog.tsx
  src/components/dashboard/dashboard-layout.tsx
  src/components/providers.tsx
  src/components/sidebar-layout.tsx
  src/hooks/useAlerts.ts
  src/lib/api-client.ts
  src/types/alert.ts
Due: frontend:build, frontend:deploy

chadarmod gitignore
  .gitignore
  backend/models/__init__.py
  backend/models/chat.py
  backend/models/db/__init__.py
  backend/models/db/alerts.py
  backend/models/schemas/__init__.py
  backend/models/schemas/alerts.py
Due: backend:validate, backend:build, backend:deploy

Rename app_models volume to app_ml_models in Docker configs
  backend/docker-compose.api.yml
  backend/docker-compose.prod.yml
Due: backend:validate, backend:build, backend:deploy

Update deployment for Vertex AI and improve credential checks
  .gitlab-ci.yml
  backend/chat_routes.py
Due: backend:validate, backend:build, backend:deploy

feat: Implement AI Assistant chat feature with anomaly detection and real-time analysis capabilities
  .vscode/settings.json
  backend/augmented/campus_card_swipes_augmented.csv
  backend/augmented/wifi_associations_logs_augmented.csv
  backend/routes/staff_routes.py
  backend/scripts/realtime_data_simulator.py
  prisma/dev.db
  src/app/dashboard/alerts/[alertId]/page.tsx
  src/app/dashboard/chat/chat-page.tsx
  src/app/dashboard/chat/page.tsx
  src/components/alerts/escalate-alert-dialog.tsx
  src/components/sidebar-layout.tsx
  src/components/ui/ai-chat.tsx
  src/lib/api-client.ts
  src/types/alert.ts
Due: backend:validate, backend:build, backend:deploy, frontend:build, frontend:deploy

feat: Add GitLab integration with status and health endpoints, and display in dashboard
  backend/config.py
  backend/main.py
  backend/routes/gitlab_routes.py
  src/components/dashboard/dashboard-layout.tsx
  src/components/dashboard/gitlab-deployment-status.tsx
  src/hooks/useAlerts.ts
  src/lib/api-client.ts
Due: backend:validate, backend:build, backend:deploy, frontend:build, frontend:deploy

Update backend deploy script permissions and env vars
  .gitlab-ci.yml
Due: none

Update GCP credentials mount in docker-compose
  backend/.gitignore
  backend/docker-compose.yml
Due: backend:validate, backend:build, backend:deploy

Add dependency scanning to CI pipeline ✨
  .gitlab-ci.yml
  src/components/auth/SigninForm.tsx
Due: frontend:build, frontend:deploy

Update CI pipeline and minor SigninForm cleanup
  .gitlab-ci.yml
  src/components/auth/SigninForm.tsx
Due: frontend:build, frontend:deploy

Add zone_updater.sh script for periodic updates
  backend/migrations/zone_updater.sh
  src/components/auth/SigninForm.tsx
Due: backend:validate, backend:build, backend:deploy, frontend:build, frontend:deploy

Fix dependency scanning path for backend requirements 👀
  .gitlab-ci.yml
  LICENSE
  backend/migrations/zone_updater.sh
  src/components/auth/SigninForm.tsx
Due: backend:validate, backend:build, backend:deploy, frontend:build, frontend:deploy
